<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Wendy's Family Tree</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="showingSports()" routerLink="/sports" >Sports</a>
      <a class="nav-item nav-link" (click)="showingHorses()" routerLink="/horses">Horses</a>
    </div>
    <form class="from-inline my-2 my-lg-0">
    </form>
  </div>
</nav>

<div *ngIf="showHorses">
  <app-horse></app-horse>
</div>

<div *ngIf="showSports">
  <app-sport></app-sport>
</div>



